@import (reference) "../../less/variables.less";

.adv {
  display: flex;
  grid-gap: 0 10px;
  flex-wrap: wrap;

  &__item {
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  &__bold-text {
    text-transform: uppercase;
    font-weight: 700;
  }

  &__huge-text {
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
  }

  &__text-s {
    max-width: 80px;
  }
}

@media (min-width: @s) {
  .adv {
    flex-wrap: nowrap;

    &__bold-text:not(:first-child) {
      display: inline-block;
    } 

    &__item {
      flex: 0 1 50%;
    }

    &__huge-text {
      display: inline-block;
      font-size: 48px;
      line-height: 42px;
    }

    &__text-s {
      max-width: 100%;
    }
  }
}