@import (reference) "../../less/variables.less";

.section {
  padding-bottom: 36px;

  &_indent-bottom {
    padding-bottom: 16px;
  }

  &_indent-bottom-huge {
    padding-bottom: 50px;
  }

  &_indent-top {
    padding-top: 42px;
  }

  &__inner-page {
    padding-left: 30px;
    padding-right: 24px;

    &_indent-top {
      padding-top: 24px;
    }

    &_indent-bottom {
      padding-bottom: 24px;
    }

    &_middle {
      padding-left: 20px;
    }
  }

  &__img {
    position: relative;
    display: block;
    z-index: 1;
    object-fit: cover;
    width: 94%;
    height: 170px;
    
    
    &_top {
      margin-bottom: -38px;
    }

    &_bottom {
      margin-top: -20px;
    }

    &_right {
      margin-left: auto;
    }

    &_left {
      margin-right: auto;
    }

    &_large {
      min-height: 204px;
    }
  }

  &__grid {
    display: flex;
  }

  &__grid-item {
    flex: 1 1 50%;
    &:first-child {
      margin-right: 20px;
    }
  }
}

@media (min-width: @s) {
  .section {
    &__img {
      height: 350px;
    }
  }
}

@media (min-width: @m) {
  .section {
    padding-bottom: 160px;
    
    &_indent-bottom {
      padding-bottom: 42px;
    }

    &_indent-bottom-huge {
      padding-bottom: 104px;
    }

    &__img {
      width: 74%;
      height: 570px;

      &_desk-504 {
        margin-bottom: -504px;
      }

      &_desk-top-520 {
        margin-top: -520px;
      }
    }

    &__inner-page {
      max-width: 810px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 110px;
      padding-right: 0px;

      &_indent-top {
        transform: translateY(150px);
        padding-bottom: 40px;
      }

      &_middle {
        padding-left: 60px;
        width: 100%;
        max-width: unset;
      }
    }

    &__grid-item {
      &:first-child {
        max-width: 490px;
        margin-right: 94px;
      }
    }
  }
}