// colors
@color-white: #ffffff;
@color-gray: #f5f0f0;
@color-gray-m: #d2c8c8;
@color-dark: #1e1e1e;
@color-blue: #4664af;
@color-blue-m: #4764b0;

// breakpoints
@l: 1339px;
@m: 1019px;
@s: 699px;

// animation
@transition: 200ms ease-in-out;
@bezier: .2s cubic-bezier(0.55, 0.055, 0.675, 0.19);

@hover-link: {
  text-decoration: none;
  transition: color @transition;
  
  &:hover {
    color: @color-primary-hover;
  }

  &:active {
    color: @color-primary;
  }
}

// @import (reference) "../../less/variables.less";

// .block {
// }

// @media (min-width: @m) {
//   .block {
//   }
// }


