@import (reference) "../../less/variables.less";

.container {
  padding: 0 15px;
  width: 100%;
  max-width: calc(300 / 330 * 100vw);
  margin: 0 auto;
}


@media (min-width: @m) {
  .container {
    padding: 0 36px;
    max-width: 1354px;
  }
}