@import (reference) "../../less/variables.less";

.title {
  &_h1 {
    font-size: 12px;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 400;
  }

  &_h2 {
    font-size: 24px;
    line-height: 28px;
    color: @color-blue-m;
    margin-top: 0;
    margin-bottom: 12px;
  }

  &_h3 {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 12px;
  }

  &_bordered {
    background: url("../../assets/img/divider.png") bottom / 110% 3px no-repeat;
    padding-bottom: 16px;
    margin-bottom: 20px;
  }
}

@media (min-width: @m) {
  .title {
    &_h1 {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 10px;
    }

    &_h2 {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 16px;
    }

    &_indent-huge {
      margin-bottom: 104px;
    }

    &_bordered {
      margin-bottom: 40px;
      background-size: 100%;
    }
  }
}
