@import (reference) "../../less/variables.less";

.slider {
  position: relative;

  &__pagination.swiper-pagination-bullets {
    position: absolute;
    z-index: 3;
    bottom: 42px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .swiper-pagination-bullet {
      background: @color-white;
      opacity: 1;
      width: 6px;
      height: 6px;
      margin: 0 5px;

      &.swiper-pagination-bullet-active {
        width: 10px;
        height: 10px;
      }
    }
  }

  &__static-pagination.swiper-pagination-bullets {
    position: static;
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .swiper-pagination-bullet {
      background: @color-blue-m;
      opacity: 1;
      width: 6px;
      height: 6px;
      margin: 0 5px;


      &.swiper-pagination-bullet-active {
        width: 10px;
        height: 10px;
      }
    }
  }

  &__buttons-wrapper {
    display: none;
  }
}

@media (min-width: @m) {
  .slider {
    &__container {
      height: 570px;
      margin-bottom: -504px;
    }

    .swiper-pagination-bullets {
      display: none;
    }

    &__buttons-wrapper {
      display: block;
      position: absolute;
      z-index: 12;
      display: flex;
      flex-direction: column;

      &_top {
        right: 60px;
        top: 89%;
      }

      &_center {
        right: -10px;
        top: -20px;
      }

      &_bottom {
        left: 60px;
        top: 130%;
      }
    }

    &__button-prev,
    &__button-next {
      position: relative;
      width: 20px;
      height: 8px;
      display: inline-flex;
      cursor: pointer;
    }

    &__button-prev,
    &__button-next  {
      &::after {
        display: inline-flex;
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        top: 2px;
      }

      &::before {
        display: inline-flex;
        position: absolute;
        content: '';
        top: 8px;
        left: 0;
        width: 20px;
        height: 2px;
        background-color: @color-gray-s; 
      }
    }

    &__button-prev::after {
      left: 2px;
      top: 8px;
      border-top: 2px solid @color-gray-s;
      transform: rotate(-135deg);
    }

    &__button-next::after {
      right: 2px;
      top: 4px;
      border-top: 2px solid @color-gray-s;
      transform: rotate(45deg);
    }
  }
}